@import "../../styles/variables";

.todolist-wrapper {
  border: 5px solid $lavenderblue;
  box-shadow: 18px 14px 0px 2px $lavenderblue;
  inline-size: 60vw;
  margin: 50px auto;
  min-block-size: 80vh;
}

.title {
  color: $lavenderblue;
  font-family: "Cutive Mono", monospace;
  font-size: 35px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .todolist-wrapper {
    inline-size: 80vw;
    min-inline-size: 375px;
  }
}
